<!DOCTYPE html>
<html lang="en">
<head>
    <title>文件列表</title>
    <!-- Meta -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/webjars/layui/2.4.5/css/layui.css" media="all">
    <script type="text/javascript" src="/webjars/layui/2.4.5/layui.js"></script>
</head>
<body>
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">文件名称</label>
        <div class="layui-input-inline">
            <input type="text" name="fileName" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">文件描述</label>
        <div class="layui-input-inline">
            <input type="text" name="fileDesc" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">时间范围</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="timeRange" placeholder="yyyy-MM-dd - yyyy-MM-dd">
        </div>
        <button class="layui-btn" id="searchBtn">
            <i class="layui-icon layui-icon-search"></i> 搜索
        </button>
    </div>
</div>

<table class="layui-hide" id="fileTable" lay-filter="fileTable"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="uploadBtn">
            <i class="layui-icon layui-icon-upload"></i> 文件上传
        </button>
    </div>
</script>

<script type="text/html" id="operationTpl">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="watch">查看</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="update">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="download">下载</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
</script>

<script type="text/html" id="timeTpl">
    {{ d.createTime.substring(0,10) }}
</script>

<script type="text/javascript">
    layui.use(['table', 'jquery', 'layer', 'laydate'], function () {
        var table = layui.table
            , $ = layui.jquery
            , layer = layui.layer
            , laydate = layui.laydate;

        //日期范围
        laydate.render({
            elem: '#timeRange',
            range: true
        });

        table.render({
            elem: '#fileTable',
            url: '/file/list',
            toolbar: '#toolbarDemo',
            cols: [
                [
                    {field: 'fileName', title: '名称', width: 180, sort: true},
                    {field: 'fileType', title: '类型', width: 120, sort: true},
                    {field: 'fileDesc', title: '文件描述'},
                    {field: 'fileSize', title: '大小', width: 120},
                    {field: 'fileAuthor', title: '作者', width: 120},
                    {field: 'createTime', title: '创建时间', width: 120, templet: '#timeTpl'},
                    {title: '操作', width: 240, align: 'center', toolbar: '#operationTpl'}
                ]
            ],
            where: {
                fileName: $("[name='fileName']").val(),
                fileDesc: $("[name='fileDesc']").val(),
                timeRange: $("[name='timeRange']").val()
            },
            page: true
        });

        function tableReload() {
            table.reload("fileTable", {
                page: {
                    curr: 1
                },
                where: {
                    fileName: $("[name='fileName']").val(),
                    fileDesc: $("[name='fileDesc']").val(),
                    timeRange: $("[name='timeRange']").val()
                }
            })
        }

        $('#searchBtn').on('click', function () {
            tableReload();
        });

        table.on('toolbar(fileTable)', function(obj) {
            if(obj.event === 'uploadBtn'){
                debugger;
                layer.open({
                    type: 2
                    , title: '文件上传'
                    , area: ['460px', '320px']
                    , content: '/file_upload'
                    , end: function () {
                        tableReload();
                    }
                })
            }
        });

        table.on("tool(fileTable)", function (obj) {
            //var userId = obj.data.userId;
            if (obj.event === "watch") {
                layer.alert("查看文件")
            } else if (obj.event === "update") {
                layer.alert("修改文件")
            } else if (obj.event === "download") {
                layer.alert("下载文件")
            } else if (obj.event === "delete") {
                layer.alert("删除文件")
            }
            return false;
        })
    })
</script>
</body>
</html>